.about__container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;

    .about__profile__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        .content-container {
            width: 100%;
            min-height: 450px;
            align-items: center;
            padding: 25px 20px;
            color: rgb(226, 226, 232);
            border-radius: 20px;
            border: 1px solid transparent;
            border-image: linear-gradient(20deg,transparent, transparent,#e86cdd,#e86cdd,#e86cdd,transparent,transparent) 50;
            background-origin: border-box;
            backdrop-filter: blur(1px);
            transition: border-image ease-in-out 0.9s;

            &:hover {
                transition: border-image ease-out 0.9s;
                border-image: linear-gradient(160deg, transparent,transparent,#b784ee,#cc64f6,#cc64f6, transparent,transparent) 50;
            }

            .introduction {
                margin-top: 5px;
                margin-bottom: 48px;
                h2 {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 16px;
                    line-height: 1.6;
                }
            }
            .skills {
                h2 {
                    font-size: 24px;
                    color: #aaaaaa;
                    margin-bottom: 14px;
                }

                .skill-item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                }
                span {
                    flex: 1;
                    font-size: 16px;
                    color: #aaaaaa;
                }
                .progress-bar {
                    flex: 2;
                    height: 10px;
                    background: #eee;
                    border-radius: 5px;
                    overflow: hidden;
                    margin-left: 10px;
                }
                .progress {
                    height: 100%;
                    background: #d36ce8
                }
            }
        }
    }

    .about__desc__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        height: 100%;
        span {
            letter-spacing: 1px;
            font-size: 1.4rem;
            font-weight: 600;
            padding: 16px 0px 2px 12px;
            background-clip: text;
            background-image: linear-gradient(90deg, #625df3, #CC51D6, #5A68E8, #E1B1FF, #b1feff);
            color: transparent;
        }
    }

    .desc__container {
        width: 100%;
        height: 150px;
        display: flex;
        z-index: 100;
        gap: 10px;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 22px 16px;
        align-items: center;
        margin: 1rem 0;
        margin-bottom: 12%;
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid transparent;
        border-bottom: none;
        background-blend-mode: overlay;
        border-image: linear-gradient(90deg, transparent,transparent,#ff3aef,transparent,transparent) 50;
        background-origin: border-box;
        backdrop-filter: blur(1.25px);

        .desc__icon__container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            .desc__icon {
                background-size: cover;
                background-repeat: no-repeat;
                width: 110px;
                background-color: linear-gradient(#5548be,#000000);
            }

            .desc__icon.exp {
                background-image: url(../../image/taq-icon.png);
                height: 58px;
                width: 110px;
                margin: 5px;
            }
            .desc__icon.education {
                background-image: url(../../image/uoft.png);
                height: 46px;
                width: 120px;
                // margin: 10px 30px 10px 10px;
            }
        }
        
    }

        .desc__container::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 20px;
        border: none;
        padding: 1px; /* control the border thickness */
        background: linear-gradient( #5548be,#000000) .5px ;
        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;
        border-left: none;
        border-bottom: none;
    }
    .desc__title {
        color: rgb(189, 193, 255);//rgba(91, 88, 255, 0.81);
        font-size: 1.18rem;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .desc__period {
        font-size: 0.9rem;
        letter-spacing: 1px;
        color: rgb(226, 226, 232);
    }
    .desc__content {
        margin: 10px;
    }
}


@media (min-width: 1420px) {
    .image__3d {
        width: 250px;
    }
    
    .about__desc__container span {
            font-size: 7rem;
        }

    .about__container .desc__container {
        // width: 90%;
        .desc__title {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 1268px) {
    .about__container {
        gap: 50px;
        .about__profile__container {
            margin-top: 70px;
        }

        .about__profile__container .content-container {
            min-height: 400px;
            .skill-item {
                margin-bottom: 12px;
            }
            .introduction {
                margin-bottom: 35px;
            }
        }
    }
    .about__container .desc__container {

        height: 130px;

        .desc__title {
            font-size: 1.07rem;
        }
        .desc__icon__container {
            .desc__icon.exp {
                height: 48px;
                width: 90px;
                margin: 10px;
            }
            .desc__icon.education {
                height: 40px;
                width: 110px;
            }
        }
        
    }
}

@media (max-width: 992px) {
    .about__container {
        gap: 0;
        .about__desc__container {
            align-items: center;
            margin-top: 0;
        }
    }
}

@media (max-width: 765px) {
    .about__container .desc__container {
        .desc__icon__container {
            width: 160px;
        }
        .desc__title {
            font-size: 1.07rem;
        }
        .desc__icon {
            background-size: cover;
            background-repeat: no-repeat;
            width: 80px;
            background-color: linear-gradient(#5548be,#000000);
        }

        .desc__icon.exp {
            background-image: url(../../image/taq-icon.png);
            width: 50px;
            height: 20px;
        }
        .desc__icon.education {
            background-image: url(../../image/uoft.png);
            height: 40px;
            width: 100px;
            // margin: 10px 30px 10px 10px;
        }
    }
}