.about__container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding: 100px 100px;
    

    .about__profile__container {
        width: 420px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .introduction {
            font-size: 14px;
            width: 420px;
            background-color: rgba(0,0,0,0.15);
            height: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            font-weight: 600;
            border-radius: 15px;
            color:rgba(255, 230, 230, 0.81);
            line-height: 24px;
            margin-bottom: 20px;
            padding: 30px;
            // background-clip: text;
            background-image: linear-gradient(60deg, rgba(246, 203, 158, 0.2),rgba(243, 167, 231, 0.15), rgba(221, 158, 255, 0.25));
            // color: transparent;
        }

        .image__3d {
            // margin: 40px 0px;
            background-image: url(../../image/girl.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 650px;
            width: 100%;
        }
    }

    .about__desc__container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        span {
            letter-spacing: 1px;
            font-size: 16px;
            font-weight: 600;
            padding: 16px 0px 2px 12px;
            background-clip: text;
            background-image: linear-gradient(90deg, #625df3, #CC51D6, #5A68E8, #E1B1FF, #b1feff);
            color: transparent;
        }
    }

    .desc__container {
        width: 600px;
        height: 160px;
        display: flex;
        padding: 22px 16px;
        align-items: center;
        margin: 12px;
        // gap: 24px;
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid transparent;
        border-bottom: none;
        background-blend-mode: overlay;
        border-image: linear-gradient(90deg, transparent,transparent,#ff3aef,transparent,transparent) 50;
        background-origin: border-box;
        backdrop-filter: blur(30px);

        .desc__icon {
            // border: 1px solid;
            // border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            width: 110px;
            background-color: linear-gradient(#5548be,#000000);
            margin: 10px 60px 10px 20px;
        }

        .desc__icon.exp {
            background-image: url(../../image/taq-icon.png);
            width: 80px;
            height: 40px;
        }
        .desc__icon.education {
            background-image: url(../../image/uoft.png);
            height: 50px;
            width: 120px;
            margin: 10px 30px 10px 10px;
        }
        
    }

        .desc__container::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 20px;
        border: none;
        padding: 1px; /* control the border thickness */
        background: linear-gradient( #5548be,#000000) .5px ;
        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;
        border-left: none;
        border-bottom: none;
    }
    .desc__title {
        color:rgba(91, 88, 255, 0.81);
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .desc__period {
        font-size: 12px;
        letter-spacing: 1px;
    }
    .desc__content {
        margin: 10px;
    }
}