.header__container {
    // padding: 10rem 6rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh; // instead of height: 100vh to not overlap when resizing
    .container__content {
        margin: 4% 7%;
        width: 100%;
    }
    .header__contents {
        // padding: 20px;
        width: 100%;
        letter-spacing: 1.5px;

        .header__title {
            display: flex;
            flex-direction: row;
            font-weight: 800;
            font-size: 6rem;
            width: 100%;
            background-clip: text;
            background-image: linear-gradient(38deg, #b5f1f6, #feb8b8, #CC51D6, #5A68E8, #354edb, #1f34aa);
            color: transparent;
            margin-top: 80px;
            padding-bottom: 2.4rem;
            display: flex;
            align-items: center;
            .moon {
                width: 5.2rem;
                height: 5.2rem;
                margin-right: 10px;
            }
            .first-line {
                display: flex;
                align-items: center;
            }
            div {
                padding-right: 20px;
            }
        }
        .header__desc {
            font-weight: 500;
            font-size: 1.4rem;
            background-clip: text;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 2px;
            background-image: linear-gradient(30deg, #edfdff, #ffd3d3,  #eab0e9,  #a99df7, #6b81fa, #4960e6,);
            color: transparent;
            line-height: 2.2rem;
        }
    }

    .header__btns {
        padding: 60px 0;
        gap: 38px;
        width: 300px;
        display: flex;
        text-align: center;
        color: white;
        justify-content: space-between;


        .learn__more {
            // background-image: linear-gradient(30deg, #eb9090, #CC51D6, #5A68E8, #E1B1FF, #b1feff);background: linear-gradient(10deg, #000 32.69%, #263271 93.16%);
            background: linear-gradient(180deg, rgba(254, 200, 241, 0.90) -22.92%, rgba(254, 200, 241, 0.00) 26.73%), radial-gradient(137.13% 253.39% at 76.68% 66.67%, #602EA6 0%, #C977D6 100%);
            box-shadow: 0px 10px 30px 0px rgba(208, 113, 234, 0.5), 0px 0px 5px 0px #9623c0 inset, 0px -1px 8px 0px #c28dff inset;

            &:hover {
                -webkit-box-shadow: 0 0 30px #a45ef4;
            }
        }
        .download__cv {
            background: linear-gradient(180deg, rgba(254, 200, 241, 0.90) -22.92%, rgba(237, 146, 215, 0.00) 26.73%), radial-gradient(281.59% 122.01% at 96.89% 70.83%, #F69EA3 0%, #E970C4 100%);
            box-shadow: 0px 10px 30px 0px rgba(234, 113, 197, 0.50), 0px 0px 5px 0px #FFACE4 inset, 0px -1px 8px 0px #efbeff inset;

            text-shadow: 10px 10px 20px rgba(93, 20, 77);
            &:hover {
                -webkit-box-shadow: 0 0 30px #f78cd3;
            }
        }
    }
}

@media (min-width: 1380px) {
    .header__container {
        .header__btns {
            font-size: 1.5rem;
            gap: 50px;
        }
    }
    .header__container {
        .header__contents {
            .header__title {
                .moon {
                    width: 90px;
                    height: 90px;
                    margin-right: 10px;
                }
                font-weight: 800;
                font-size: 7rem;
                padding-bottom: 64px;
                display: flex;
                align-items: center;
                .first-line {
                    margin-right: 10px;
                }
            }
            .header__desc {
                line-height: 3.4rem;
                font-size: 1.75rem;
                letter-spacing: 2.5px;
            }
        }
    }
}

@media (max-width: 1170px) {
    .header__container {
        .header__contents {
            .moon {
                width: 50px;
                height: 50px;
            }
            .header__title {
                font-weight: 800;
                font-size: 6.4rem;
                padding-bottom: 55px;
                line-height: 6.4rem;
                display: block;
                align-items: center;
                .first-line {
                    justify-content: flex-start;
                    margin-bottom: 1rem;
                }
            }
            .header__desc {
                .mobile-hidden {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 876px) {
    .header__container {
        .header__contents {
            .header__title {
                .moon {
                    width: 4.21rem;
                    height: 4.21rem;
                }
                font-size: 6rem;
                padding-bottom: 5px;
                line-height: 6rem;
            }
            .header__desc {
                font-size: 1.4rem;
                line-height: 2.1rem;
            }
        }
    }
}

@media (max-width: 564px) {
    .mobile-hidden {
        display: none;
    }
    .header__container {
        .header__contents {
            .header__title {
                .moon {
                    width: 64px;
                    height: 64px;
                }
                font-size: 5.8rem;
                text-transform: capitalize;
            }
            // .header__desc {
            //     font-size: 1.2rem;
            //     line-height: 2.1rem;
            // }
        }
    }
}

@media (max-width: 400px) {
    .header__container {
        .header__contents {
            .header__title {
                .moon {
                    width: 48px;
                    height: 48px;
                }
                font-size: 4.5rem;
                text-transform: capitalize;
            }
            // .header__desc {
            //     font-size: 1.2rem;
            //     line-height: 2.1rem;
            // }
        }
    }
}