.body-explore-on {
    opacity: 0;
}

.body-background {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: fixed;
    opacity: 0;
    transition: opacity 1s;
    z-index: 0;

    &.body-explore-on {
        opacity: 1;
    }
}

.projects__container {
    z-index: 10;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;

    .moon {
        width: 42px;
        height: 42px;
    }

    span {
        z-index: 10;
        margin: 16px 80px 20px;
        font-size: 38px;
        font-weight: 600;
        top: 0;
        background-clip: text;
        background-image: linear-gradient(90deg, #7772f5, #e76df2);
        color: transparent;
    }

    .projects {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 2% 7.2%;

        .project {
            height: 460px;
            background-color: rgba(0,0,0,0.2);
            border: 1px solid transparent;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            text-align: left;
            border-image: linear-gradient(90deg, transparent,transparent,rgb(101, 58, 255),transparent, transparent) 20;
            background-origin: border-box;
            border-top: none;
            transition: 0.5s;

            &:hover {
                .explore__btn {
                    opacity: 1;
                    transition: 1s;
                }
            }
            
            &:hover {
                transition: 0.5s;
                border-image: linear-gradient(90deg, transparent,transparent,#ff3aef,transparent, transparent) 74;
                // box-shadow: 0px 1px 2px 0px #444d5e;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 1px;
                background: linear-gradient( #302a5e,#000000) .5px ;
                -webkit-mask: 
                    linear-gradient(#fff 0 0) content-box, 
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude;
            }
            
            .thumbnail {
                // position: absolute;
                position: relative;
                height: 200px;
                width: 100%;
                background-color: rgb(29, 29, 57);
                display: flex;
                justify-content: center;
                align-items: center;

                &.cursor {
                    cursor: pointer;
                }
            }

            .video__image {
                height: 100%;
                width: 100%;
                position: relative;

                .play__btn {
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100px;
                    width: 100px;
                    z-index: 10;
                    position: absolute;
                    top: 50%;
                    cursor: pointer;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-image: url(../../image/play_btn.png);
                    transition: background-image 0.3s ease-in-out;

                    &:hover {
                        background-image: url(../../image/play_btn_hover.png)
                    }
                }
            }

            .thumnail__image {
                background-repeat: no-repeat;
                background-size: cover;
                height: 200px;
                width: 100%;
                color: rgb(95, 95, 95);
            }

            .content {
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom: 0;
                height: 60%;
                width: 100%;
                border-radius: 20px;
                fill: linear-gradient(180deg, rgba(49, 58, 91, 0.00) -1.11%, rgba(49, 58, 91, 0.44) 23.83%, #313A5B 99.56%);
                stroke-width: 1px;
                stroke: rgba(255, 255, 255, 0.00);
                
                backdrop-filter: blur(30px);

                & > * {
                    padding: 16px 20px 0px;
                }

                .title {
                    font-size: 20px;
                    font-weight: bold;
                    padding-top: 20px;
                }

                .skills {
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.80);
                    @include line-one;
                    padding-top: 0px;
                }
                .desc {
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.60);
                    @include line(7);
                }
                .desc.explore {
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.60);
                    @include line(4);
                }

                .project__btn {
                    align-self: center;
                    border-radius: 20px;
                    position: absolute;
                    bottom: 20px;
                    border: 1px solid transparent;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 48.05%, rgba(0, 0, 0, 0.20) 48.9%), linear-gradient(180deg, rgba(49, 58, 91, 0.00) -19.57%, #313A5B 98.8%, rgba(49, 58, 91, 0.22) 130.43%);
                    box-shadow: 0px 14px 20px 0px rgba(42, 51, 83, 0.50);
                    display: flex;
                    font-size: 14px;
                    letter-spacing: 1px;
                    font-weight: 500;
                    width: 60%;
                    padding: 8px 18px;
                    margin: 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    transition: 0.5s;

                    &:hover {
                        transition: 0.5s;
                        box-shadow: 0px 14px 20px 0px rgba(58, 69, 105, 0.5);
                    }
                }

                .project__btns {
                    align-self: center;
                    border-radius: 20px;
                    position: absolute;
                    bottom: 20px;
                    border: 1px solid transparent;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 48.05%, rgba(0, 0, 0, 0.20) 48.9%), linear-gradient(180deg, rgba(49, 58, 91, 0.00) -19.57%, #313A5B 98.8%, rgba(49, 58, 91, 0.22) 130.43%);
                    box-shadow: 0px 14px 20px 0px rgba(42, 51, 83, 0.50);
                    display: flex;
                    font-size: 14px;
                    letter-spacing: 1px;
                    font-weight: 500;
                    width: 60%;
                    padding: 8px 18px;
                    margin: 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}

.explore__btn {
    position: absolute;
    border-radius: 20px;
    border: 1px solid transparent;
    background: linear-gradient(180deg, rgba(139, 63, 132, 0) 48.05%, rgba(250, 154, 239, 0.12) 48.9%), linear-gradient(180deg, rgba(155, 172, 233, 0) -19.57%, #798eda 98.8%, rgba(194, 206, 252, 0.12) 130.43%);
    // box-shadow: 0px 14px 20px 0px rgba(42, 51, 83, 0.50);
    display: flex;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    width: 40%;
    padding: 8px 18px;
    opacity: 0;
    margin: 12px;
    justify-content: center;
    align-items: center;
    transition: 1s;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    &:hover {
        transition: 1s;
        background: linear-gradient(180deg, rgba(139, 63, 132, 0) 48.05%, rgba(250, 154, 239, 0.25) 48.9%), linear-gradient(180deg, rgba(155, 172, 233, 0) -19.57%, #798eda 98.8%, rgba(194, 206, 252, 0.3) 130.43%);
    }
}
                
.play__icon {
    a {
        position: relative;
        display: block;
        cursor: pointer;
        width: 100%;
        
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: var(--blackAlpha200);
            position: absolute;
            left: 0;
            top: 0;
            transition: background-color 0.3s;
        }

        &:hover::before {
            background-color: var(--blackAlpha);
        }

        &::after {
            content: "";
            width: 80px;
            height: 80px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            opacity: 0;
            transition: opacity 0.3s;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}

.highlight {
    background-image: linear-gradient(90deg, rgba(249, 248, 247, 0.00) 0%, #FBFAFA 9.09%, rgba(249, 248, 247, 0.00) 100%);
    background-blend-mode: overlay;
    width: 90%;
    height: 0.5px;
    padding: 0px !important;
    margin: 10px 20px;
    flex-shrink: 0;
    opacity: .7;
}

.explore__container {
    background-color: #000000;
    width: 100%;
    display: flex;
    height: 460px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 18px;
    padding: 20px 40px 20px 10px;
    .media__container {
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-left: 10px;
        margin-right: 20px;

        .images__container {
            width: 100%;
            height: 100%;
            .image {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            
        }
    }
    .descriptions {
        font-family: Arial, Helvetica, sans-serif;
        width: 85%;
        height: 100%;
        margin-left: 8px;
        letter-spacing: 1px;
        color: rgb(216, 216, 216);
        padding: 16px 24px 18px 0px;
        text-align: left;
        .btns {
            width: auto;
            white-space:nowrap;
            margin-bottom: 5px;
            .github {
                font-size: 12px;
                width: max-content !important;
                padding: 4px 10px;
                color: #aeaeae;
                border: 1px solid #aeaeae;
                border-radius: 50px;
                transition: 1s;
                cursor: pointer;
                &:hover {
                    color: #eeeeee;
                    border-color: #efefef;
                    transition: 1s;
                }
            }
        }
        .title {
            font-size: 24px;
            letter-spacing: 1px;
            font-weight: 600;
        }
        .skills {
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 600;
            color: rgb(135, 135, 135);
            margin-bottom: 15px;
        }
        .content {
            font-size: 13.5px;
            padding-left: 15px;
            overflow-y: scroll;
            scrollbar-width: none;
            height: 78%;
            ul {
                list-style: circle;
            }
        }
    }
}

.close-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 20px;
    top: 15px;
    background-image: url(../../image/close_button.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.8s;

    &:hover {
        opacity: 1;
        transition: opacity 0.8s;
    }
}

@media (max-width: 1110px) {
    .explore__container {
        min-height: 800px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .image {
            margin-top: 10px;
        }

        .media__container {
            padding: 0;
            margin: 0;
            margin-left: 30px;
            width: 90%;
        }
            .descriptions {
                margin-top: 15px;
                margin-left: 40px;
                width: 80%;
                .content {
                    font-size: 13px;
            }
        }
    }
}

@media (max-width: 770px) {
    .explore__container {
        min-height: 800px;
        .descriptions {
            margin-left: 40px;
            width: 90%;
            .content {
                font-size: 11px;
            }
        }
    }
}

@media (max-width: 992px) {
    .projects__container {
        margin-top: 30px;
    }
}