.star {
    position: fixed;
    pointer-events: none;
    /* animation: star-animation 8s ease-in-out infinite; */
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}
.star1 {
    position: fixed;
    background-image: url(../../image/background/star3.png);
    animation: star-animation 10s ease-out infinite alternate;
    background-size: contain;
    width: 100%;
    height: 40%;//300px;
    opacity: 20%;
}
.star2 {
    position: fixed;
    background-image: url(../../image/background/star1.png);
    width: 100%;
    height: 40%;//300px;
    /* width: 100px;
    height: 100px; */
    background-size: contain;
    animation: star-animation 7s ease-in-out infinite;
}
@keyframes star-animation {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 50%;
    }
    50% {
        opacity: 100%;
    }
    75% {
        opacity: 50%;
    }
    100% {
        opacity: 0%;
    }
}

.background-moon {
    top: 10%;
    /* top: 100px;  */
    left: 50%;
    transform: translateX(-50%);
    height: 109px;
    width: 109px;
    visibility: hidden;
    position: fixed;
    border-radius: 50%;
    background-color: rgb(255, 254, 230);
    box-shadow: 0 0 0 6px rgba(249, 249, 219, 0.1),0 0 15px rgba(198, 202, 255, 0.1);
    animation: svg-shadow 3.5s ease-in-out infinite alternate;
    /* position: fixed; */
}
.moon-container {
    z-index: 10;
    border-radius: 50%;
    /* height: 128px; */
    position: relative;
    margin: 0;
    margin-right: 10px;
    /* visibility: hidden; */
}
.moon-container.full {
    margin-right: 22px;
}
.moon {
    height: 61px;
    width: 61px;
    z-index: -200;
    border-radius: 50%;
    background-color: rgb(255, 254, 230);
    box-shadow: 0 0 0 6px rgba(249, 249, 219, 0.1),0 0 15px rgba(198, 202, 255, 0.1);
    animation: moon-shadow 2.5s ease-in-out infinite alternate;
}
.moon-shadow-big .moon {
    position: absolute;
}

.moon-shadow-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    top: -40px;
    left: 5px;
    z-index: 0;
    position: absolute;
    transform: rotate(70deg);
    background-color: #23233f;
    /* box-shadow: 0 0 0 6px #11161a; */
}
.moon-shadow-square {
    height: 60px;
    width: 110px;
    top: -15px;
    left: 2px;
    z-index: 0;
    position: absolute;
    background-color: rgb(28, 28, 55);
    transform: rotate(51deg);
    /* box-shadow: 0 0 0 6px #11161a; */
}
.moon-shadow-big {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    top: 20px;
    right: 15px;
    z-index: 0;
    position: relative;
    transform: rotate(90deg);
    overflow: hidden;
    background-color: rgb(28, 28, 55);
    /* box-shadow: 0 0 0 6px #11161a; */
}
@keyframes svg-shadow {
    from {
      filter: drop-shadow( 0 0 14px #fff) drop-shadow( 0 0 20px #8ff4ff) drop-shadow( 0 0 30px #1f2742);
    }
    to {
        filter: drop-shadow( 0 0 5px #fff) drop-shadow( 0 0 15px #f9ff8f) drop-shadow( 0 0 20px #c500c2);
    }
    
}

@keyframes moon-shadow {
    from {
      filter: drop-shadow( 0 0 4px #fff) drop-shadow( 0 0 5px #8ff4ff) drop-shadow( 0 0 7px #1f2742);
    }
    to {
        filter: drop-shadow( 0 0 2px #fff) drop-shadow( 0 0 4px #f9ff8f) drop-shadow( 0 0 5px #c500c2);
    }
    
}

.tree {
    // position: absolute;
    // bottom: 0;
    // right: -60%;
    // background-image: url(../../image/background/tree.png);
    // background-size: contain;
    // background-repeat: no-repeat;
    // width: 100%;
    // z-index: -1;
    // height: 500px;
}

.hidden {
    // opacity: 0%;
    // display: none;
    visibility: hidden;
    // transition: 2s ease-out;
    transition: visibility 0s ease-out
    // animation: hide-animation 2s ease-out infinite alternate;
}


