*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
table,
textarea {
    font-family: var(--main-font), "Apple SD Gothic Neo", helvetica, sans-serif;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul {
    list-style: none;
}

em,
address {
    font-style: normal;
}

strong {
    font-weight: normal;
}

img {
    vertical-align: top;
    width: 100%;
}

/**/
body {
    overscroll-behavior: none;
    background: var(--bgColor) no-repeat;
    min-height: 130vh;
    background-attachment: fixed;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}